/*Document*/
body {
    background-color:rgba(227, 175, 34, 0.4);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 5px auto 0 auto;

}

/*Navigation*/
nav {
    padding-top: 5px;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 1em;
}
#logo-img {
    width: 200px;
    margin-bottom: 15px;
}
#user-img {
    height: 40px;
    width: 40px;
}
#user-img:hover {
    background-color: #E3AF34;
    border-radius: 90%;
}
.nav-button, .logout-button {
    height: 45px;
    width: 120px;
    padding: 10px;
    border:0;
    border-bottom: 2px solid #427A37;
    background-color: #fff;
    color: #427A37;
    font-weight: bold;
    transition: color 0.2s, border-bottom 0.2s;
}
.nav-button:hover {
    color: #E3AF34;
    border-bottom: 2px solid #E3AF34;
}
.nav-button:focus {
    color: #E3AF34;
    border-bottom: 2px solid #E3AF34;
}
.logout-button {
    border: 2px solid #427A37;
}
.logout-button:hover,  .logout-button:focus{
    color: #E3AF34;
    border: 2px solid #E3AF34;
    background-color: #e2e2e2;
}
.button-div {
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.user-name {
    height: 45px;
    width: 120px;
    text-align: center;
    color: #427A37;
    font-weight: bold;
}

/*Content*/
content {
    min-height: 600px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.in-content {
    width:528px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.main-content-div {
    height: 90px;
    width: 240px;
    padding: 10px;
    font-size: 1.4em;
    margin-bottom: 20px;
    border:0;
    border: 2px solid #427A37;
    background-color: #fff;
    color: #427A37;
    font-weight: bold;
    transition: color 0.2s, border 0.2s, background-color 0.2s;
}
.main-content-div:hover {
    color: #E3AF34;
    border: 2px solid #E3AF34;
    background-color: #e2e2e2;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #fff;
    width: 300px;
    border-radius: 4px;;
}
.login-form label {
    margin: 10px;
    color:#427A37;
    font-weight: bold;
}
.login-form input {
    margin: 0 10px 10px 10px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: none;
    height: 20px;
    padding: 5px;
}
.form-button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
.form-button-div button, .reg-button {
    height: 50px;
    width: 120px;
    padding: 10px;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    border-style: none;
    background-color:#427A37 ;
    font-weight: bold;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
}
.form-button-div button:hover{
    color:#427A37;
    background-color:  #E3AF34;
}

/*Registration*/
.reg-button {
    height: 50px;
    width: 150px;
    padding: 10px;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    border-style: none;
    background-color:#427A37 ;
    font-weight: bold;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
    margin: 10px auto 0 auto;
}
.reg-button:hover {
    color:#427A37;
    background-color:  #E3AF34;

}
.not-in-form {
    background-color:  #E3AF34;
    margin-top: 15px;
}
.not-in-form:hover {
    background-color: #427A37 ;
    color: #E3AF34;
}

/*Administration page*/

